In [1]:
import pandas as pd
Location = "C:/Users/Pranjal/Downloads/datasets/datasets/gradedata.csv"
df = pd.read_csv(Location)
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

In [5]:
import numpy as np
df['timemgmt'] = np.where((df['exercise']>3)
& (df['hours']>17))
df.head()

ValueError: Length of values does not match length of index

In [6]:
import numpy as np
df['timemgmt'] = np.where((df['exercise']>3)
& (df['hours']>17))
df.head()

ValueError: Length of values does not match length of index

In [9]:
import numpy as np
df['timemgmt'] = np.where((df['exercise'] > 3)
& (df['hours'] > 17),'busy', 'not')
df.head()

,fname,lname,gender,age,exercise,hours,grade,address,timemgmt
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747",not
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780",not
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060",not
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125",not
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035",not